body,html{
    background-color: rgb(114, 109, 100);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

h1{
    color: #f8d122;
    text-align: center;
}

h6{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}

button{
    border-color: #f8d122;
    border-style: solid;
    border-radius: 20px;
    background-color: #f8d122;
    width: 150px;
    height: 50px;
    margin: 10px;
    padding: 5px;
}

button:hover{
    border: 5px solid #ffffff;
}

hr{
    border: 3px solid #f8d122;
    margin: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#canv{
    border: 3px solid black;

}

#b3{
    border-color: #41abd1;
    background-color: #41abd1;
}

#b3:hover{
    border: 5px solid #ffffff;
}






























































/* #box{
    width: 100%;
}

#canv_box{
    float: left;
}

#woda{
    float: left;
    background-color: rgb(0, 132, 255);
    margin: 25px;
    padding: 10px;
    box-sizing: border-box;
    height: 350px;
}

p{
    text-align: center;
    font-size: 40px;
}

#kaktusy{
    float: left;
    background-color: rgb(24, 158, 0);
    margin: 25px;
    padding: 10px;
    box-sizing: border-box;
    height: 350px;
}

button{
   margin: 5px;
}

#woda button{
    background-color: rgb(0, 132, 255);
    border: 2px solid rgb(0, 96, 185);
    color: white;
    font-size: 18px;
}

#woda button:hover{
    background-color: rgb(0, 96, 186);
}

button{
    margin: 5px;
 }
 
 #kaktusy button{
     background-color: rgb(24, 158, 0);
     border: 2px solid rgb(17, 112, 0);
     color: white;
     font-size: 18px;
 }
 
 #kaktusy button:hover{
     background-color: rgb(17, 112, 0);
 }

 
 #hajs{
     background-color: rgb(255, 196, 0);
     float: left;
     margin: 25px;
    padding: 10px;
    box-sizing: border-box;
    height: 350px;
 }
 
 #hajs button{
    background-color: rgb(255, 196, 0);
    border: 2px solid rgb(212, 163, 0);
    color: white;
    font-size: 18px;
}

#hajs button:hover{
    background-color: rgb(212, 163, 0);
}

#nawoz{
    background-color: SaddleBrown;
    float: left;
    margin: 25px;
    padding: 10px;
    box-sizing: border-box;
    height: 350px;
}

#nawoz button{
    background-color: saddlebrown;
    border: 2px solid rgb(112, 55, 15);
    color: white;
    font-size: 18px;
}

#nawoz button:hover{
    background-color: rgb(112, 55, 15);
} */